.bgi{
    background-image: url('./images/zhongkao.jpg');
}
.des{
    color:#fff;
}
.left-bottom div,.r{
    width: 100%;
    height:400px;
    color:#fff;
    text-align: center;
    background-color: #8a7cff;
}
r{

}